html,
body {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #FCFCFC;
    color: #555555;
    min-width: 320px;
}

p {
  margin: 1em 0em;
}

p:first-child {
  margin-top: 0em;
}

p:last-child {
  margin-bottom: 0em;
}

a {
  color: #009FDA;
  text-decoration: none;
}

a:hover {
  color: #00BAFF;
}

header {
    margin: 0px 0px 3em;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #56508D url(../images/header.jpg) center no-repeat;
    border-bottom: 4px solid #36677A;
}

header h1 {
    color: #FFF;
    font-size: 60px;
    margin: 20px 0px 0px 0px;
}

#forkme {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    border: 0;
}

header p{
    color: #FFF;
}

#phansible .main.menu {
  min-width: 320px;
  z-index: 900;
}

.ui.transparent.menu {
  opacity: 0.90;
}

#phansible .container {
  width: 1050px;
  margin: 0px auto;
}

#phansible .main.container {
  position: relative;
  padding-bottom: 150px;
  margin-left: 380px;
}

#phansible .main.container > h2 {
  -webkit-transition: 0.5s color ease;
  -moz-transition: 0.5s color ease;
  -o-transition: 0.5s color ease;
  -ms-transition: 0.5s color ease;
  transition: 0.5s color ease;
}

#phansible .peek {
  position: absolute;
  top: 0px;
  left: -265px;
  width: 180px;
}

#phansible .phansible > p ,
#phansible section > p {
  color: #888888;
}

#phansible .main h2.group {
  color: #A24096;
}

#phansible section:first-child
#phansible .phansible:first-child,
#phansible h2 + .phansible,
#phansible h3 + .phansible,
#phansible h4 + .phansible,
#phansible h2 + section,
#phansible h3 + section,
#phansible h4 + section {
  margin-top: 0px;
  padding-top: 0px;
  border-top: none;
}

#phansible section,
#phansible .phansible {
  margin: 1em 0em;
  padding: 1em 0em;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
}

.ui.selection.dropdown {
  padding: 0.65em 1em;
}

.ui.secondary.vertical.pointing.menu.stuck{
  position: fixed;
  top:50px;
}

#phansible .sticky-wrapper {
  height: 0px !important;
}

#phansible .sticky-wrapper .stuck.peek {
  position: fixed;
  top: 50px;
  left: 119px;
}

@media only screen and (max-width : 1725px) {
    header {
        margin: 0px 0px 3em;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #phansible .main.container {
      margin-left: 30%;
      width: 60%;
    }

  #phansible .sticky-wrapper .stuck.peek {
    left: 95px;
  }
}

@media only screen and (max-width : 1100px) {
  #phansible .fixed .container {
    width: auto;
    margin: 0px auto;
  }

  #phansible .container {
    width: auto;
    margin: 0% 30px 0px;
  }

  #phansible .main.container {
    margin-left: 300px;
    width: 60%;
  }

  .ui.button, .ui.buttons .button {
      font-size: 0.9em;
  }

  #phansible .sticky-wrapper .stuck.peek {
    left: 35px;
  }
}

@media only screen and (max-width : 480px) {
    #phansible .sticky-wrapper {
        display:none;
    }

    #phansible .main.menu .icon.item {
        display: none;
    }

    #phansible .main.menu .github.item {
        display: block;
    }

    #phansible .main.menu .github.item:before {
        display: none;
    }

    header {
        margin: 0px 0px 3em;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 48px;
    }

    .ui.form .two.fields > .field,
    .ui.form .three.fields > .field {
        padding: 0px;
        width: 100%;
    }

    #phansible .main.container {
      margin-left: 9px;
      width: 95%;
    }
    .ui.button, .ui.buttons .button {
      font-size: 0.9em;
    }
}

pre code {
    background-color: #333;
    display: block;
    color: #c5c5c5;
    padding: 15px 10px;
    overflow-x: auto;
}

div.mainFooter {
    padding: 30px 0;
    background-color: #444444;
    color: #c5c5c5;
}

div.mainFooter a {
    color: #c5c5c5;
}

div.mainFooter a:hover {
    color: #ffffff;
}

div.mainFooter p {
    line-height: 1.7em;
}

div.mainFooter .column i {
  float: left;
}

div.mainFooter .ui.grid {
  margin-left: 2%;
}

div.footerNotice {
    background-color: #cccccc;
    padding: 20px 0;
    color: #666666;
}