<div class="ui tab bottom attached segment" data-tab="mongodb">
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" name="mongodb[install]" value="1"
                   {% if mongodb.install %}checked="checked"{% endif %} />
            <label>Install MongoDB</label>
        </div>
    </div>
</div>
