.idea
app/data
app/cache
vendor
vagrant_ansible_inventory_default
.vagrant
build/*
!app/cache/.gitkeep
*.swp
.DS_Store

src/Phansible/Resources/ansible/roles
!src/Phansible/Resources/ansible/roles/app
