.idea
app/data
app/cache
vendor
vagrant_ansible_inventory_default
.vagrant
build/*
!app/cache/.gitkeep
*.swp
*.cache
.DS_Store

src/Phansible/Resources/ansible/roles
!src/Phansible/Resources/ansible/roles/app

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
