.idea
app/data
app/cache
vendor
vagrant_ansible_inventory_default
.vagrant
build/*
!app/cache/.gitkeep
*.swp
*.cache
.DS_Store

src/Phansible/Resources/ansible/roles
!src/Phansible/Resources/ansible/roles/app
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
