language: php

php:
  - 8.3

before_install:
  - composer self-update

install:
  - composer install --optimize-autoloader --prefer-source --no-interaction

script:
  - php -d xdebug.mode=coverage bin/phpunit -c phpunit.xml --color --coverage-clover=build/logs/clover.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./build/logs/clover.xml
