<h2 class="ui dividing header" id="section-database">Database</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Mysql configuration you want to use.</p>
    <div class="ui piled segment">
        <div class="ui top attached black label">Details</div>
        <div class="field">
            <input type="hidden" id="database-status" name="database-status" value="0" />
            <div class="ui fluid toggle black button database">Disabled</div>
        </div>

        <div class="three fields">
            <div class="field">
                <label for="database">Database:</label>
                <div class="ui disabled left labeled input">
                    <input type="text" name="database" value="db" />
                </div>
            </div>

            <div class="field">
                <label for="user">User:</label>
                <div class="ui left labeled input">
                    <input type="text" name="user" value="user" />
                </div>
            </div>

            <div class="field">
                <label for="database">Password:</label>
                <div class="ui left labeled input">
                    <input type="text" name="password" value="password" />
                </div>
            </div>
        </div>

        <div class="field">
            <label for="phpmyadmin-status">PHPMyAdmin:</label>
            <input type="hidden" id="phpmyadmin-status" name="phpmyadmin-status" value="0" />
            <div class="ui fluid toggle black button phpmyadmin">Disabled</div>
        </div>

        <div class="field">
            <label for="phpmyadmin-hostname">hostname:</label>
            <div class="ui left labeled input">
                <input type="text" name="phpmyadmin-hostname" value="phpmyadmin.vb" />
            </div>
        </div>
    </div>
</section>
