<h2 class="ui dividing header" id="section-databases">Database</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Database you want to use.</p>
    <div class="ui pointing databases menu tabs">
        <a class="item" data-tab="mysql">MySQL</a>
        <a class="item" data-tab="mariadb">MariaDb</a>
        <a class="item" data-tab="pgsql">PostgreSQL</a>
    </div>
    {% include "bundles/databases/mysql.html.twig" %}
    {% include "bundles/databases/mariadb.html.twig" %}
    {% include "bundles/databases/pgsql.html.twig" %}
</section>
