<h2 class="ui dividing header" id="section-databases">Database</h2>
<section class="databases-tabs">
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Database you want to use.</p>
    <div class="ui top attached databases menu tabs">
        <a class="item active" data-tab="mysql">MySQL</a>
        <a class="item" data-tab="mariadb">MariaDb</a>
        <a class="item" data-tab="pgsql">PostgreSQL</a>
        <a class="item" data-tab="sqlite">SQLite</a>
    </div>
    {% include "bundles/databases/mysql.html.twig" %}
    {% include "bundles/databases/mariadb.html.twig" %}
    {% include "bundles/databases/pgsql.html.twig" %}
    {% include "bundles/databases/sqlite.html.twig" %}
</section>
