<h2 class="ui dividing header" id="section-database">Database</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Database you want to use.</p>
    <div class="ui piled segment">
        <div class="ui top attached black label">Details</div>
        <div class="field">
            <div class="four fluid ui buttons">

                {% set default_database = '' %}
                <div class="ui green active button database checked" data-value="0">Disabled</div>
                {% for key,database in config.databases %}
                   <div class="ui black button database" data-value="{{ key }}">{{ database.name }}</div>
                {% endfor %}

                <input type="hidden" id="dbserver" name="dbserver" value="{{ default_database }}" />
            </div>
        </div>
        <div class="field">
            <label for="root_password">Root Password:</label>
            <input type="text" name="root_password" value="" />
        </div>
        <div class="three fields">
            <div class="field">
                <label for="database">Database:</label>
                <div class="ui disabled left labeled input">
                    <input type="text" name="database" value="db" />
                </div>
            </div>

            <div class="field">
                <label for="user">User:</label>
                <div class="ui left labeled input">
                    <input type="text" name="user" value="user" />
                </div>
            </div>

            <div class="field">
                <label for="database">Password:</label>
                <div class="ui left labeled input">
                    <input type="text" name="password" value="password" />
                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
