<h2 class="ui dividing header" id="section-languages">Languages</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Languages you want to use.</p>
    <div class="ui pointing languages menu tabs">
        <a class="item" data-tab="php">PHP</a>
        <a class="item" data-tab="hhvm">HHVM</a>
    </div>
    {% include "bundles/languages/php.html.twig" %}
    {% include "bundles/languages/hhvm.html.twig" %}
</section>
