<h2 class="ui dividing header" id="section-php">PHP</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the PHP version, type the PHP modules you want (e.g. php5-curl) and select whether or not to install Composer system-wide.</p>
    <div class="ui piled segment">
        <div class="ui top attached black label">Details</div>
        <div class="three fields">
            <div class="field">
                <label for="php_version">Version:</label>
                <div class="three fluid ui buttons">
                    <input type="hidden" id="php_version" name="phpppa" value="php5" />
                    <div class="ui green active button phpversion" data-value="php5">5.5</div>
                    <div class="ui black button phpversion" data-value="php5-oldstable">5.4</div>
                </div>
            </div>
            <div class="field">
                <label for="composer">Composer:</label>
                <input type="hidden" id="composer" name="composer" value="0" />
                <div class="ui fluid toggle black button composer">Disabled</div>
            </div>
            <div class="field">
                <label for="xdebug">Xdebug:</label>
                <input type="hidden" id="xdebug" name="xdebug" value="0" />
                <div class="ui fluid toggle black button xdebug">Disabled</div>
            </div>
        </div>
        <div class="field">
            <label for="phppackages">PHP Modules:</label>
            <select id="phppackages" name="phppackages[]" class="selectized" multiple>
                {% for package in config.phppackages %}
                    <option value="{{ package }}">{{ package }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</section>
