<h2 class="ui dividing header" id="section-timezone">Timezone</h2>
<section>
    <h3 class="ui header">Instructions:</h3>
    <p>Choose your timezone from the list.</p>
    <div class="ui piled segment">
        <div class="ui top attached black label">Details</div>
        <div class="field">
            <label for="timezone">timezone:</label>

            <select id="timezone" name="timezone" class="selectized">
                    <option value="UTC">UTC</option>
                {% for timezone in config.timezones %}
                    <option value="{{ timezone }}">{{ timezone }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</section>
