<h2 class="ui dividing header" id="section-workers">Work Queues</h2>
<section class="workers-tabs">
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Worker you want to use.</p>
    <div class="ui top attached workers menu tabs">
        <a class="item active" data-tab="rabbitmq">MySQL</a>
    </div>
    {% include "bundles/workers/rabbitmq.html.twig" %}
</section>
