<h2 class="ui dividing header" id="section-workers">Work Queues</h2>
<section class="workers-tabs">
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Workers you want to use.</p>
    <div class="ui top attached workers menu tabs">
        <a class="item active" data-tab="rabbitmq">RabbitMQ</a>
        <a class="item" data-tab="beanstalkd">Beanstalkd</a>
    </div>
    {% include "bundles/workers/rabbitmq.html.twig" %}
    {% include "bundles/workers/beanstalkd.html.twig" %}
</section>
