<div class="ui tab bottom attached segment" data-tab="elasticsearch">
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" name="elasticsearch[install]" value="1"
                   {% if elasticsearch.install %}checked="checked"{% endif %} />
            <label>Install Elastic Search</label>
        </div>
    </div>
    <div class="six fields">
        <div class="field">
            <label for="version">Port:</label>
            <input type="text" name="elasticsearch[port]" value="{{ elasticsearch.port }}"/>
            <input type="hidden" name="elasticsearch[version]" value="{{ elasticsearch.version }}"/>
        </div>
    </div>
</div>

