<div class="ui tab bottom attached segment" data-tab="mariadb">
    <div class="inline field">
        <div class="ui checkbox">
            <input class="update-other-input" type="checkbox" name="mariadb[install]" data-update-mysql[install]="0" value="1" {% if mariadb.install %}checked="checked"{% endif %}/>
            <label>Install MariaDb</label>
        </div>
    </div>
    <p>If you install MariaDB, you cannot install MySQL.</p>
    <div class="two fields">
        <div class="field">
            <label for="root_password">Root Password:</label>
            <input type="text" name="mariadb[root_password]" value="{{ mariadb.root_password }}" />
        </div>
        <div class="field">
            <label for="database">Database:</label>
            <input type="text" name="mariadb[database]" value="db" />
        </div>
    </div>
    <div class="field">
        <label for="dump">Dump file:</label>
        <input type="text" name="mariadb[dump]" />
    </div>
    <div class="field">
        <div class="ui segment">
            <div class="ui top attached black label">Users</div>
            <div class="ui segment" data-id="0">
                <a class="ui right red corner label">
                    <i class="remove icon"></i>
                </a>
                <div class="two fields">
                    <div class="field">
                        <label for="maridb_user_0">User:</label>
                        <input type="text" id="mariadb_user_0" class="mariadb-user" name="mariadb[users][0][user]" value="user" />
                    </div>
                    <div class="field">
                        <label for="maridb_pass_0">Password:</label>
                        <input type="text" id="mariadb_pass_0" class="mariadb-pass" name="mariadb[users][0][password]" value="password" />
                    </div>
                </div>
            </div>
            <div class="field">
                <a class="ui fluid labeled green icon button">
                    <i class="add icon"></i> Add database user
                </a>
            </div>
        </div>
    </div>
</div>
