body {
    min-height: 2000px;
    padding-top: 70px;
}

section.form {
    margin-top: 15px;
}

section.form-action {
    background-color: #e5e5e5;
    padding: 20px 10px;
    margin: 20px;
    text-align: center;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    color: #666666;
}

.tweet-button {
    padding-top: 15px;
}