<footer>
    <div class="mainFooter">
        <div class="container">
            <div class="ui stackable five column grid" id="footer">

                <div class="one wide column">
                    <i class="circular inverted big cloud gift icon"></i>
                </div>

                <div class="six wide column">
                    <p>Phansible provides an easy-to-use interface to generate Vagrant + Ansible provisionings for PHP-based projects.</p>
                </div>

                <div class="two wide column">
                </div>

                <div class="three wide column">
                    <div class="ui list inverted">
                        <a class="item" href="/about">
                            <i class="right triangle icon"></i>
                            About Phansible
                        </a>
                        <a class="item" href="/docs/usage">
                            <i class="right triangle icon"></i>
                            Usage Instructions
                        </a>
                        <a class="item" href="/docs/vagrant">
                            <i class="right triangle icon"></i>
                            Vagrant Crash Course
                        </a>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="ui list inverted">
                        <a class="item" href="{{ path('phansible_docs', {'doc': 'customize'}) }}">
                            <i class="right triangle icon"></i>
                            Customizing your Bundle
                        </a>
                        <a class="item" href="/docs/usage">
                            <i class="right triangle icon"></i>
                            Contributing to Phansible
                        </a>
                        <a class="item" href="https://github.com/Phansible/phansible" target="_blank">
                            <i class="right triangle icon"></i>
                            Phansible on GitHub
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footerNotice">
        <div class="container">
            <div class="ui center aligned basic segment">
                <p>Created with <i class="heart icon"></i> by <a href="http://twitter.com/erikaheidi" target="_blank">@erikaheidi</a> and maintained with help of <a href="https://github.com/Phansible/phansible/graphs/contributors" target="_blank">amazing contributors</a>.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
