{% extends "main.html.twig" %}

{% block content %}
    <h2>We've got a problem</h2>
    <p>
        Sorry, something went wrong.<br/>
        <br/>
        A team of <a href="{{ path('phansible_about') }}">enthusiastic volunteers</a> has been dispatched to deal with
        this situation.
    </p>
{% endblock %}
