<h2 class="ui dividing header" id="section-languages">Languages</h2>
<section class="languages-tabs">
    <h3 class="ui header">Instructions:</h3>
    <p>Choose the Languages you want to use.</p>
    <div class="ui attached languages menu tabs">
        <a class="item active" data-tab="php">PHP</a>
    </div>
    {% include "bundles/languages/php.html.twig" %}
</section>
