<div class="ui tab bottom attached segment active" data-tab="rabbitmq">
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" name="rabbitmq[install]" value="1" {% if rabbitmq.install %}checked="checked"{% endif %} />
            <label>Install RabbitMQ</label>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label for="port">Port:</label>
            <div class="ui left labeled input">
                <input type="text" name="rabbitmq[port]" value="5672" />
            </div>
        </div>
    </div>
</div>
