{% extends "main.html.twig" %}

{% block content %}
    <h2>404: Page not found</h2>
    <p>
        Sorry, but the page you are looking for has not been found.<br/>
        Try checking the URL for errors, then hit the refresh button on your brower or click <a href="{{ path('phansible_default') }}" title="home">here</a> to return to the home page.
    </p>
{% endblock %}
