{% set active='home' %}

{% extends "main.html.twig" %}

{% block content %}

    <div class="html ui top">
        <div class="ui segment">
            <div id="main_menu" class="ui right very close rail">
                <div class="ui secondary vertical pointing menu">
                    <a class="active teal item" href="#section-vagrant">Machine Settings</a>
                    <a class="item" href="#section-serverpackages">Server Packages</a>
                    <a class="item" href="#section-webservers">Webservers</a>
                    <a class="item" href="#section-languages">Languages</a>
                    <a class="item" href="#section-databases">Databases</a>
                    <a class="item" href="#section-searchengines">Search Engines</a>
                    <a class="item" href="#section-timezone">Timezone</a>
                </div>
            </div>
            <form class="ui form" method="POST" action="{{ path('phansible_bundle') }}">

                {% include "bundles/vagrant.html.twig" %}
                {% include "bundles/serverpackages.html.twig" %}
                {% include "bundles/webservers.html.twig" %}
                {% include "bundles/languages.html.twig" %}
                {% include "bundles/databases.html.twig" %}
                {% include "bundles/searchengines.html.twig" %}
                {% include "bundles/timezone.html.twig" %}

                <section>
                    <button class="ui fluid labeled purple icon button" type="submit"><i
                                class="download cloud icon"></i> Generate
                    </button>
                </section>

            </form>
        </div>
    </div>

{% endblock %}
