{% set active='home' %}

{% extends "main.html.twig" %}

{% block content %}
<h1>PHP dev environments powered by Vagrant and Ansible</h1>
<p><strong>Phansible</strong> provides a simple interface for generating a basic Vagrant provision for PHP development environments, using Ansible. Think about it as a Vagrant bootstrap generator.</p>

<h2>Bundle Generator</h2>
<form method="post" class="form-horizontal" action="/generate">


    <div class="row">
        <div class="col-md-6">
            <legend>Base Box</legend>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Box Identifier</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="boxname" value="precise64">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Box URL</label>
                <div class="col-sm-8">
                    <input type="url" class="form-control" name="boxurl" value="http://files.vagrantup.com/precise64.box">
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <legend>Network</legend>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">IP (priv network)</label>
                <div class="col-sm-8">
                    <input type="text" name="ipaddress" class="form-control" value="192.168.33.99">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Shared Folder</label>
                <div class="col-sm-8">
                    <input type="text" name="sharedfolder" class="form-control" value="./">
                </div>
            </div>

        </div>

    </div>

    <section class="form">
        <legend>Web Server</legend>

        <div class="row">

            <div class="col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="webserver" value="nginxphp" checked>
                        NGINX + PHP5-FPM
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="webserver" value="apachephp">
                        APACHE + PHP
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="composer" value="1" checked>
                        Install Composer
                    </label>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Document Root:</label>
                    <div class="col-sm-8">
                        <input type="text" name="docroot" class="form-control" value="/vagrant">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">PHP Version:</label>
                    <div class="col-sm-8">
                        <label class="checkbox-inline">
                            <input type="radio" name="phpppa" value="php5-oldstable">
                            5.4
                        </label>

                        <label class="checkbox-inline">
                            <input type="radio" name="phpppa" value="php5" checked>
                            5.5
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="form">
        <legend>PHP Packages</legend>

        {% for package in config.phppackages %}
            <label class="checkbox-inline">
                <input type="checkbox" name="phppackages[]" value="{{ package }}">
                {{ package }}
            </label>
        {% endfor %}

    </section>

    <section class="form">
        <legend>Other Packages</legend>

        {% for package in config.syspackages %}
            <label class="checkbox-inline">
                <input type="checkbox" name="syspackages[]" value="{{ package }}">
                {{ package }}
            </label>
        {% endfor %}
    </section>

    <div class="row">
        <section class="form-action">

            <button class="btn btn-success btn-lg"><i class="glyphicon glyphicon-download-alt"></i> Download Vagrant Bundle</button>

        </section>
    </div>
</form>

{% endblock %}