{% set active='home' %}

{% extends "main.html.twig" %}

{% block content %}
    <form class="ui form" method="POST" action="/generate">

        {% for bundle in config.bundles %}
            {% include "bundles/"~bundle~".html.twig" %}
        {% endfor %}

        <section>
            <button class="ui fluid labeled purple icon button" type="submit"><i class="download cloud icon"></i> Generate</button>
        </section>

    </form>
{% endblock %}
