
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Phansible provides an easy way to generate Vagrant provisions with Ansible, for PHP environments">
    <meta name="author" content="@erikaheidi">

    <title>Phansible - Generate Vagrant + Ansible Bootstrap Bundles for PHP environments</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Phansible</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if active == 'home' %}class="active"{% endif %}><a href="/" title="Home">Home</a></li>
                <li {% if active == 'docs' %}class="active"{% endif %}><a href="/doc/usage">Usage Instructions</a></li>
            </ul>
            <div class="navbar-right tweet-button">
             <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://phansible.com" data-via="erikaheidi">Tweet</a>
             <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    {% block content %}
    {% endblock %}

    <div class="footer">
        <p>Inspired by <a href="https://puphpet.com/" target="_blank" title="PuPHPet">PuPHPet</a>, powered by <a href="http://www.ansible.com/home">Ansible</a> - brought to you by <a href="http://twitter.com/erikaheidi" target="_blank">@erikaheidi</a></p>
    </div>
</div> <!-- /container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
