<!DOCTYPE html>
<html>
    <head>
        {% include "partials/head.html.twig" %}
    </head>
    <body id="phansible">
        <div class="ui fixed transparent inverted main menu">
            <div class="container">
                <div class="title item"><a href="/">Phansible</a></div>
                <div class="title item"><a href="/doc/usage">Usage Instructions</a></div>
                <div class="right menu">
                    <a class="popup icon github item" data-content="View project on Github" href="https://github.com/Phansible/phansible">
                        <i class="icon github"></i> Fork me
                    </a>
                </div>
            </div>
        </div>

        <header>
            <div class="container">
                <div class="introduction">
                    <h1>Phansible</h1>
                    <p>Phansible provides an easy to use interface that helps you generate Ansible Playbooks for PHP based projects.</p>
                </div>
            </div>
        </header>

        <div class="main container">
            {% block content %}{% endblock %}
        </div>

        {% include "partials/javascripts.html.twig" %}

    </body>
</html>
